target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.idea/artifacts/Gradle__*
.idea/dictionaries
.idea/libraries/Gradle__*
.idea/shelf
.idea/workspace.xml
.gradle
build
