<div ng-controller="NmdcDetailsController as ctrl">
    <h2><a class="btn btn-info btn-sm" ng-hide="ctrl.model.basket.idToItem[ctrl.details.Entry_ID]" href="" ng-click="ctrl.model.basket.add(ctrl.details)"><span class="glyphicon glyphicon-shopping-cart"></span></a>
        <a class="btn btn-warning btn-sm" ng-show="ctrl.model.basket.idToItem[ctrl.details.Entry_ID]" href="" ng-click="ctrl.model.basket.remove(ctrl.details)"><span class="glyphicon glyphicon-remove"></span></a>
        {{ctrl.details.Entry_Title}}</h2>
    <div nmdc-error="ctrl.error"></div>
    <div ng-show="ctrl.details">
        <table class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="(key, value) in ctrl.details">
                <td>{{key}}</td>
                <td ng-if="key != 'Data_URL'">{{value}}</td>
                <td ng-if="key == 'Data_URL'">
                    <span ng-repeat="url in value">
                        <a target="_blank" ng-href="{{url}}">{{url}}</a>
                        <br>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <p>
        <a class="btn btn-primary btn-xs" ng-href="#/">Go to search</a>
    </p>
</div>
