<div ng-controller="NmdcDetailsController as ctrl">
    <h2>{{ctrl.details.title}}</h2>
    <div nmdc-error="ctrl.error"></div>
    <p ng-show="ctrl.details">
        <table>
            <tr ng-repeat="(key, value) in ctrl.details">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>
        <a class="btn btn-info btn-xs" ng-hide="ctrl.model.basket.idToItem[ctrl.id]" href="" ng-click="ctrl.model.basket.add(item)">Add to basket</a>
        <a class="btn btn-info btn-xs" ng-show="ctrl.model.basket.idToItem[ctrl.id]" href="" ng-click="ctrl.model.basket.remove(item)">Remove from basket</a>
    </p>
    <p>
        <a class="btn btn-primary btn-xs" ng-href="#/">Go to search</a>
    </p>
</div>
