<div class="row" ng-controller="NmdcSearchController as ctrl">

    <div class="col-sm-3">
        <div nmdc-error="ctrl.model.facets.error"></div>
        <div class="nmdc-facet" ng-repeat="facet in ctrl.model.facets">
            <div class="input-group has-feedback">
                <span class="input-group-addon">
                    <nmdc-expansion expandable="facet"></nmdc-expansion>
                </span>
                <input class="form-control" type="text" placeholder="{{facet.name}} ({{facet.matches}})"
                       ng-model="ctrl.typeahead.text[facet.name]" uib-typeahead="node.value for node in facet.allNodes | filter:{value:$viewValue}"
                       ng-blur="ctrl.typeahead.text[facet.name] = ''"
                       typeahead-on-select="ctrl.typeahead.onSelect(facet, $item)">
                <span class="glyphicon form-control-feedback" ng-click="ctrl.typeahead.text[facet.name] = ''"
                      ng-class="ctrl.typeahead.text[facet.name] ? 'glyphicon-remove-circle nmdc-search-icon' : 'glyphicon-search'"></span>
            </div>
            <div class="nmdc-expandable nmdc-facet-tree" ng-show="facet.expanded">
                <treecontrol class="tree-classic" tree-model="facet.children" options="ctrl.facetTree.options"
                             expanded-nodes="facet.expandedNodes"
                             selected-nodes="facet.selectedNodes"
                             on-selection="ctrl.search()">
                    <span class="nmdc-facet-tree-label">{{node.value}} ({{node.matches}})</span>
                </treecontrol>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-sm-push-6">
        <div nmdc-add-class-when-at-top="nmdc-coverage-stick-to-top">
            <div class="nmdc-coverage">
                <h4><nmdc-expansion expandable="ctrl.model.search.coverage.geographical"> Geographical coverage</nmdc-expansion></h4>
                <div class="nmdc-expandable" ng-if="ctrl.model.search.coverage.geographical.expanded">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ctrl.model.search.coverage.geographical.selected"> Filter by
                        <span ng-switch="ctrl.model.search.coverage.geographical.type">
                            <span ng-switch-when="rectangle">rectangle</span>
                            <span ng-switch-when="polygon">polygon</span>
                            <span ng-switch-default>selected map bounding box</span>
                        </span>
                        </label>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="operation" class="col-lg-4 control-label">Operation</label>

                            <div class="col-lg-8">
                                <select id="operation" class="form-control" ng-model="ctrl.model.search.coverage.geographical.operation">
                                    <option value="IsWithin">Is within</option>
                                    <option value="Intersects">Intersects</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="nmdc-map" nmdc-map marker="ctrl.marker"></div>
                    </div>
                </div>
            </div>

            <div class="nmdc-coverage">
                <h4><nmdc-expansion expandable="ctrl.model.search.coverage.temporal"> Temporal coverage</nmdc-expansion></h4>
                <div class="nmdc-expandable" ng-show="ctrl.model.search.coverage.temporal.expanded">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ctrl.model.search.coverage.temporal.selected"> Filter by temporal coverage
                        </label>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="operation" class="col-lg-4 control-label">Operation</label>

                            <div class="col-lg-8">
                                <select id="operation_temp" class="form-control" ng-model="ctrl.model.search.coverage.temporal.operation">
                                    <option value="IsWithin">Is within</option>
                                    <option value="Intersects">Intersects</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="beginDate" class="col-lg-2 control-label">From</label>

                            <div class="col-lg-10">
                                <div class="input-group date-picker-right-container">
                                    <input id="beginDate" class="form-control" type="text" ng-model="ctrl.model.search.coverage.temporal.beginDate"
                                           uib-datepicker-popup="yyyy-MM-dd" is-open="ctrl.date.begin.opened" datepicker-mode="'month'">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.date.open('begin', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-lg-2 control-label">To</label>

                            <div class="col-lg-10">
                                <div class="input-group date-picker-right-container">
                                    <input id="endDate" class="form-control" type="text" ng-model="ctrl.model.search.coverage.temporal.endDate"
                                           uib-datepicker-popup="yyyy-MM-dd" is-open="ctrl.date.end.opened" datepicker-mode="'month'">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.date.open('end', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-sm-pull-3">
        <div nmdc-add-class-when-at-top="nmdc-search-stick-to-top">

            <form class="nmdc-search-form" ng-submit="ctrl.search()">
                <div class="form-group has-feedback">
                    <input class="form-control" type="text" ng-blur="ctrl.search()" ng-model="ctrl.model.search.text">
                    <span class="glyphicon form-control-feedback" ng-click="ctrl.model.search.text = ''; ctrl.search()"
                          ng-class="ctrl.model.search.text ? 'glyphicon-remove-circle nmdc-search-icon' : 'glyphicon-search'"></span>
                </div>
            </form>
            <div ng-hide="ctrl.model.ready">Loading configuration...</div>
            <div ng-show="ctrl.model.ready">
                <div class="nmdc-selected-facets">
                    Selected facets:
                <span ng-repeat="facet in ctrl.model.facets">
                    <span ng-repeat="node in facet.selectedNodes">
                        <a class="btn btn-default btn-xs" href="" ng-click="facet.selectedNodes.splice($index, 1); ctrl.search()">{{node.value}}<span class="nmdc-deselect-facet glyphicon glyphicon-remove-circle"></span></a>
                    </span>
                </span>
                    <a class="btn btn-default btn-xs" href="" ng-click="ctrl.model.search.coverage.geographical.selected = false; ctrl.search()" ng-if="ctrl.model.search.coverage.geographical.selected">Geographical coverage<span class="nmdc-deselect-facet glyphicon glyphicon-remove-circle"></span></a>
                    <a class="btn btn-default btn-xs" href="" ng-click="ctrl.model.search.coverage.temporal.selected = false; ctrl.search()" ng-if="ctrl.model.search.coverage.temporal.selected">Temporal coverage<span class="nmdc-deselect-facet glyphicon glyphicon-remove-circle"></span></a>
                </div>
                <div ng-hide="ctrl.model.hasSearched">
                    To search for data sets, do any of the following:
                    <ul>
                        <li>Select one or more facets</li>
                        <li>Type into the free text search box</li>
                        <li>Specify geographical or temporal coverage</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div ng-show="ctrl.isSearching" class="nmdc-searching">Searching...</div>
            <div nmdc-error="ctrl.model.search.error"></div>
            <div ng-show="ctrl.model.search.response.results">
                <ng-pluralize count="ctrl.model.search.response.numFound"
                              when="{'0': 'No data sets', '1': '1 data set', 'other': '{} data sets'}"></ng-pluralize> found
            </div>
            <div class="nmdc-item" ng-repeat="item in ctrl.model.search.response.results" ng-mouseenter="ctrl.addMarker(item)" ng-mouseleave="ctrl.removeMarker()">
                <h4><a class="btn btn-info btn-xs" ng-hide="ctrl.model.basket.idToItem[item.Entry_ID]" href="" ng-click="ctrl.model.basket.add(item)"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    <a class="btn btn-warning btn-xs" ng-show="ctrl.model.basket.idToItem[item.Entry_ID]" href="" ng-click="ctrl.model.basket.remove(item)"><span class="glyphicon glyphicon-remove"></span></a>
                    <span data-toggle="collapse" data-target="#itemNumber{{$index}}" style="cursor: pointer;">{{item.Entry_Title}}</span></h4>
                <div id="itemNumber{{$index}}" class="collapse">
                    <p>
                        {{item.Data_Summary}}
                    </p>
                    <a class="btn btn-info btn-xs" ng-href="#/details/{{item.Entry_ID | nmdcUriComponent}}">Details</a>
                </div>
                <hr>
            </div>
            <uib-pagination class="nmdc-pagination" ng-show="ctrl.model.search.response.results" total-items="ctrl.model.search.response.numFound"
                            ng-model="ctrl.model.search.currentPage" items-per-page="ctrl.model.search.itemsPerPage"
                            max-size="3" rotate=false class="pagination-sm" boundary-links="true"
                            first-text=&#124&lt previous-text=&lt next-text=&gt last-text=&gt&#124>
            </uib-pagination>
        </div>
    </div>

</div>
