<div class="row" ng-controller="NmdcSearchController as ctrl">

    <div class="col-sm-2">
        <div nmdc-error="ctrl.model.facets.error"></div>
        <div class="nmdc-facet" ng-repeat="facet in ctrl.model.facets">
            <h4><nmdc-expansion expandable="facet"> {{facet.name}} ({{facet.matches}})</nmdc-expansion></h4>
            <div ng-if="facet.expanded">
                <div class="checkbox" ng-repeat="child in facet.children">
                    <label>
                        <input type="checkbox" ng-model="child.selected" ng-change="ctrl.search()"> {{child.value}} ({{child.matches}})
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 col-sm-push-8">
        <div class="nmdc-coverage">
            <h4><nmdc-expansion expandable="ctrl.model.search.coverage.geographical"> Geographical coverage</nmdc-expansion></h4>
            <div ng-if="ctrl.model.search.coverage.geographical.expanded">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <nmdc-map marker="ctrl.marker"></nmdc-map>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="operation" class="col-lg-4 control-label">Operation</label>

                        <div class="col-lg-8">
                            <select id="operation" class="form-control" ng-model="ctrl.model.search.coverage.geographical.operation">
                                <option value="IsWithin">Is within</option>
                                <option value="Intersects">Intersects</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="ctrl.model.search.coverage.geographical.use"> Filter by
                        <span ng-switch="ctrl.model.search.coverage.geographical.type">
                            <span ng-switch-when="rectangle">rectangle</span>
                            <span ng-switch-when="polygon">polygon</span>
                            <span ng-switch-default>map bounding box</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="nmdc-coverage">
            <h4><nmdc-expansion expandable="ctrl.model.search.coverage.temporal"> Temporal coverage</nmdc-expansion></h4>
            <div ng-if="ctrl.model.search.coverage.temporal.expanded">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="beginDate" class="col-lg-2 control-label">From</label>

                        <div class="col-lg-10">
                            <div class="input-group date-picker-right-container">
                                <input id="beginDate" class="form-control" type="text" ng-model="ctrl.model.search.coverage.temporal.beginDate"
                                       datepicker-popup="yyyy-MM-dd" is-open="ctrl.date.begin.opened" datepicker-mode="'month'">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.date.open('begin', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="col-lg-2 control-label">To</label>

                        <div class="col-lg-10">
                            <div class="input-group date-picker-right-container">
                                <input id="endDate" class="form-control" type="text" ng-model="ctrl.model.search.coverage.temporal.endDate"
                                       datepicker-popup="yyyy-MM-dd" is-open="ctrl.date.end.opened" datepicker-mode="'month'">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.date.open('end', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="ctrl.model.search.coverage.temporal.use"> Filter by temporal coverage
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8 col-sm-pull-2">
        <div ng-hide="ctrl.model.ready">Loading configuration...</div>
        <form class="nmdc-search-form" ng-submit="ctrl.search()">
            <div class="input-group">
                <input class="form-control" type="text" ng-blur="ctrl.search()" ng-model="ctrl.model.search.text">
                <span class="nmdc-clear glyphicon glyphicon-remove-circle" ng-click="ctrl.clearSearchText()"></span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div>
        </form>
        <div>
            <div ng-show="ctrl.isSearching" class="nmdc-searching">Searching...</div>
            <div nmdc-error="ctrl.model.search.error"></div>
            <div ng-show="ctrl.model.search.response.results">{{ctrl.model.search.response.matches}} data sets found</div>
            <div class="nmdc-item" ng-repeat="item in ctrl.model.search.response.results" ng-mouseenter="ctrl.mouseEnterItem(item)" ng-mouseleave="ctrl.mouseLeaveItem()">
                <h4><a ng-href="#/details/{{item.Entry_ID}}">{{item.Entry_Title}}</a></h4>

                <p>
                    {{item.Data_Summary}}
                    <br>
                    <a class="btn btn-info btn-xs" ng-href="#/details/{{item.Entry_ID}}">Details</a>
                    <a class="btn btn-info btn-xs" ng-hide="ctrl.model.basket.idToItem[item.Entry_ID]" href="" ng-click="ctrl.model.basket.add(item)">Add to basket</a>
                    <a class="btn btn-info btn-xs" ng-show="ctrl.model.basket.idToItem[item.Entry_ID]" href="" ng-click="ctrl.model.basket.remove(item)">Remove from basket</a>
                </p>
            </div>
            <pagination class="nmdc-pagination" ng-show="ctrl.model.search.response.results" total-items="ctrl.model.search.response.matches" ng-model="ctrl.model.search.currentPage"
                        max-size="10" class="pagination-sm" boundary-links="true"></pagination>
        </div>
    </div>

</div>
