.nmdc-facet {
    margin-bottom: 25px;
    word-wrap: break-word;
}

.nmdc-item {
    margin: 25px 0;
}

.nmdc-item:hover {
    background-color: #eee;
}

.nmdc-item h4 {
    margin-bottom: 0;
}

.nmdc-search-form {
    margin: 10px 0;
}

.nmdc-pagination {
    margin: 0;
}

.nmdc-searching {
    z-index: 100;
    position: absolute;
    left: 300px;
    top: 150px;
    font-size: 50px;
}

#nmdc-map {
    width: 100%;
    height: 300px;
}

.leaflet-draw-toolbar .nmdc-map-button {
    cursor: pointer;
}

.leaflet-draw-toolbar .nmdc-map-button-bounding-box {
    background-position: 1000px 0;
}

.nmdc-coverage {
    margin-bottom: 25px;
}

.nmdc-clear {
    position: absolute;
    right: 77px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 2;
}

a.nmdc-expansion {
    text-decoration: none;
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid lightgray;
    text-align: center;
    color: black;
    border-radius: 4px;
}

.nmdc-logo-container a {
    margin: 5px;
}

.date-picker-right-container {
    position: relative;
}
.date-picker-right-container .dropdown-menu {
    left: auto !important;
    right: 0;
}
