.nmdc-facet {
    margin-bottom: 25px;
    word-wrap: break-word;
}

.nmdc-item {
    margin: 25px 0;
}

.nmdc-item:hover {
    background-color: #eee;
}

.nmdc-item h4 {
    margin-bottom: 0;
}

.nmdc-search-form {
    margin: 10px 0;
}

.nmdc-selected-facets {
    margin: 10px 0;
    min-height: 23px;
}

.nmdc-selected-facets a {
    margin-bottom: 1px;
}

.nmdc-deselect-facet {
    color: #cc0000;
    margin-left: 3px;
}

.nmdc-pagination {
    margin: 0;
}

.nmdc-searching {
    z-index: 100;
    position: absolute;
    left: 300px;
    top: 150px;
    font-size: 50px;
}

#nmdc-map {
    width: 100%;
    height: 300px;
}

.leaflet-draw-toolbar .nmdc-map-button {
    cursor: pointer;
}

.leaflet-draw-toolbar .nmdc-map-button-bounding-box {
    background-position: 1000px 0;
}

.nmdc-coverage {
    margin-bottom: 25px;
}

.nmdc-clear {
    position: absolute;
    right: 77px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 2;
}

a.nmdc-expansion {
    text-decoration: none;
    color: black;
}

a.nmdc-expansion span.nmdc-expansion-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 4px;
}

.nmdc-expandable,
.nmdc-expandable.ng-leave,
.nmdc-expandable.ng-enter.ng-enter-active {
    max-height: 1500px;
}

.nmdc-expandable.ng-hide-add.ng-hide-add-active,
.nmdc-expandable.ng-leave {
    overflow: hidden;
    transition:all cubic-bezier(0, .85, 0.15, 1) 0.2s;
}

.nmdc-expandable.ng-hide-remove.ng-hide-remove-active,
.nmdc-expandable.ng-enter {
    overflow: hidden;
    transition:all cubic-bezier(0.85, 0, 1, 0.15) 0.2s;
}

.nmdc-expandable.ng-hide,
.nmdc-expandable.ng-enter,
.nmdc-expandable.ng-leave.ng-leave-active {
    max-height: 0;
}

.nmdc-logo-container a {
    margin: 5px;
}

.date-picker-right-container {
    position: relative;
}
.date-picker-right-container .dropdown-menu {
    left: auto !important;
    right: 0;
}
